<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <!-- header  -->
  <header class="mb-3">
    <nav>
      <ul>
				{% if not request.user.is_authenticated %}
          <li><a href="{% url 'welcome:welcome' %}">Twitter Home</a></li>
          <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
          <li><a href="{% url 'accounts:login' %}">Login</a></li>
          {% else %}
          <li><a href="{% url 'tweets:home' %}">Twitter Clone</a></li>
          {% endif %}
      </ul>
    </nav>
  </header>

</body>
</html>
